[submodule "segui"]
	path = segui
	url = ./SegUI.git
[submodule "omero-static-upload"]
	path = omero-static-upload
	url = ./OmeroStaticUpload.git
[submodule "seg-serve"]
	path = seg-serve
	url = ./SegServe.git
